body {
	margin: 0;
	padding: 0;
	font: 14px Arial, Helvetica, sans-serif;
	color: #DDD;
	line-height: 22px;
	background-color: #3F3F3F;
}
img {
	border: none;
	outline: none;
}

a {
	color:#999;
    	outline: none;
	text-decoration: underline;
}
a:hover {
	color: #7b9c0a;
	text-decoration: underline;
}
h1 a, h2 a, h3 a {
	color: #999;
	text-decoration: none;
}
h2 {
	margin: 8px 0;
}


#logo {
    /* background-image:url('/static/alfa_rubic_new.png'); */
    /* background-repeat:no-repeat; */
    height:40px;
    margin: 0;
    margin-bottom:10px;
    padding: 0 0 10px 0;
    font-size:36px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#7b9c0a;
    z-index:9999;
}

#banner1 {
    height:320px;
    background:url('hp1.png');
    background-repeat:no-repeat;
    background-position: 400px 60px;
}
.title {
       text-transform:uppercase;
       z-index:0;
       font-family:Verdana,Arial,Helvetica,sans-serif;
       font-weight:bold;
       opacity:0.8;
}
p {
    margin:12px;
    margin-left:0px;
}
#first {
    font-size:44px;
    line-height:44px;
    color:#696969;
    margin-bottom:20px;
    text-align:justify;
}
#second{

    font-size:18px;
    color:#858585;
    max-width:400px;
}
#third{
    font-size:18px;
    color:#898989;
    max-width:400px;
}
#fourth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}

#fifth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}

#sixth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}

#hp{
    position:relative;
    left:400px;
    top:0px;
}




#gradient_background {
	margin: 0;
	padding: 50px 0 0 0;
	width: 100%;
	text-align: center;
	background: #202020 url(gradient_background.jpg) center bottom repeat-x;
	min-height:380px;
}


#container {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	position: relative;
}

#block-block-2 a {
	margin: 7px 0 0 40px;
	width: 300px;
	height: 22px;
	float: left;
}

#extras {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	margin-top:50px;
}
#footer {
	margin: 50px auto 0px auto;
	padding: 0;
	width: 1000px;
	color: #555;
	text-align: center;
}


#footer a {
	color: #555;
}
#footer a:hover {
	color: #690;
}

ul#main_menu {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 0;
}
ul#main_menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
ul#main_menu li a {
	margin: 0 0 0 22px;
	padding: 0;
	height: 18px;
	display: block;
}


.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}
/* End hide from IE-mac */


#phone {
    margin: 0;
    padding: 0;
    position: absolute;
    right: -3px;
    top: -52px;
    background-image:url("/static/phone.png");
    background-repeat:no-repeat;
    display:block;
    width:385px;
    height:45px;
    font-weigfht:bold;
    color:white;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    padding-top:10px;
    
}

#computers{
    margin: 0 auto 0;
    padding: 0;
    text-alig:n left;
    width: 1000px;
}

#other{
   margin: 0 auto 0;
   padding: 0;
   text-align: center;
   width: 1000px;
   padding-top:30px;
   font-size:16px;
   line-height:18px;
   color:#999;
}

#components{
    margin: 0 auto 0;
    padding: 0;
    width: 1000px;
}

.indexitem
{
    width:230px;
    max-height:150px;
    padding-top:100px;
    background-repeat:no-repeat;
    float:left;
    cursor:pointer;
}
.indexitem h3 {
    margin-top:30px;
}

.index-price {
    margin-left:10px;
}


.item{
    width:250px;
    float:left;
    background-repeat:no-repeat;
}
.label {
    font-size:10px;
    padding-left:3px;
}

.price{
    color:white;
    background-color:#7B9C0A;
    float:left;
    font-weight:bold;
}
.name{
    background-color:#b0b0b0;
    font-weight:bold;
    width:150px;
    float:left;
    color:black;
}

.features {
    float:left;
    width:200px;
    background-repeat:no-repeat;
    height:130px;
    background-position:40px 0px;

}
.features ul {
    padding:0;margin:0;
    color:#999999;
    font-size:12px;
}

.button {
    height:120px;
    width:80px;
    float:left;
    background-repeat:no-repeat;
    background-position:0px 40px;
    cursor:pointer;
}


h3 {
    font-size:16px;
}


/* computer top */
.model_summary {
    font-size:18px;
    background-color: #222222;/* #555555; */
    border: 1px solid #444444;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 5px;
    max-width:600px;
    z-index: 200;

}

#baseprice {
    color:white;
}
#basepi{
    color:white;
}

#large{
    float:left;
    padding:10px;
    font-size:34px;
    color:#999;
}


#descriptions {
    border:1px solid white;
    padding:10px;
}
.description {
    color:#ddd;
    margin-top:10px;
    margin-bottom:10px;
}

.black_text_button{
    background-color: #222222;
    border: 1px solid #444444;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 5px;
}

.black_image_button
{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background: url("/static/black_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 52px;
    line-height:48px;
    text-align: center;
    min-width: 146px;
    color:#585858;
}

.green_image_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent !important;
    background-image: url("/static/green_button.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 52px;
    width: 158px;
    font-size: 18px;
    color:black;
    line-height:48px;
    text-align: center;
    cursor:pointer;
}


.white_image_button
{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background: url("/static/white_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 52px;
    line-height:48px;
    text-align: center;
    min-width: 146px;
    color:#888;
}




.up_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-image: url("/static/up.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    min-height:48px;
    padding-left:48px;
    cursor:pointer;
    padding-top:16px;
}
.down_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-image: url("/static/down.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    min-height:48px;
    padding-left:48px;
    cursor:pointer;
    padding-top:16px;
}


.better {
    background-image:url('/static/up_small.png');
    background-repeat:no-repeat;
    background-position: -1px 5px;
    padding-left:24px;
    cursor:pointer;
    color:#999999;
}
.cheaper {
    background-image:url('/static/down_small.png');
    background-repeat:no-repeat;
    background-position: -1px 5px;
    padding-left:24px;
    cursor:pointer;
    color:#999999;
}


#modelname{
    background-color:#730606;
    color:white;
    margin-top:5px;
    max-width:200px;
    padding:5px;
    text-align:center;
    vertical-align:center;

}
.component_select{
    display:none;
}
select{
    width:520px;color:black;
}


td.body{
    height:30px;
    cursor:pointer;
}


td.component_price{
    min-width:60px;
    text-align:right;
    padding-right:10px;
}

td {
    padding-right:3px;
}

label {
    cursor:pointer;
}
label:hover{
    color: #7b9c0a;
}
.perif{
    margin-right:5px;
    margin-left:14px;
}


.component_tab {
    width:140px;
    background-color: #AAAAAA;
    color: black;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;

    box-shadow: 1px 1px 0pt, -1px -1px 0 #FFFFFF;
    -moz-box-shadow:1px 1px 0pt, -1px -1px 0 #FFFFFF;
     -moz-box-shadow: 1px 1px 0pt, 0 -1px 0 #FFFFFF;
    -webkit-box-shadow:1px 1px 0pt, 0px -1px 0 #FFFFFF;

    padding: 5px 5px;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    font-size:14px;
    margin-right:2px;
}

.component_tab.active{
    float:left;
    color:black;
    font-size: 12px;
    height:24px;
    margin-top:20px;
}
.component_tab.inactive{
    float:left;
    color:white;
    font-size: 10px;
    background-color: #444;
    height:18px;
    margin-top:28px;
    background-color:#323232;
}

.section{
text-align:left;
background-image:url('/static/under_header.png');
background-repeat: no-repeat;
background-position: 0px 20px;
padding-bottom:5px;
height:30px;
padding-left: 120px;
color:#7b9c0a;
}