body {
	margin: 0;
	padding: 0;
	font: 14px Arial, Helvetica, sans-serif;
	color: #DDD;
	line-height: 22px;
	background-color: #3F3F3F;
}
img {
	border: none;
	outline: none;
}

a {
	color:#999;
    	outline: none;
	text-decoration: underline;
}
a:hover {
	color: #7b9c0a;
	text-decoration: underline;
}
h1 a, h2 a, h3 a {
	color: #999;
	text-decoration: none;
}
h2 {
	margin: 8px 0;
}


#logo {
    margin: 0;
    padding:0;
    z-index:9999;
    float:left;
    padding-top:10px;
}
#links{
    float:right;
    z-index:9999;
    text-align:right;
    margin-bottom:5px;
}

#face {
    height:325px;
}
#greetings{
    float:left;
    height:240px;
}
#greeting_banner{
    background:url('hp1.png');
    background-repeat:no-repeat;
    /* background-position: 420px 70px; */
    float:right;
    width:558px;
    height:240px;
}
.title {
       text-transform:uppercase;
       z-index:0;
       font-family:Verdana,Arial,Helvetica,sans-serif;
       font-weight:bold;
       opacity:0.8;
}
p {
    margin:12px;
    margin-left:0px;
}
#first {
    font-size:56px;
    line-height:44px;
    color:#696969;
    margin-bottom:30px;
    text-align:left;
    padding:0;
    margin:0;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom: 15px;
    padding-top: 5px;
}
#second{

    font-size:18px;
    color:#858585;
    max-width:400px;
}
#third{
    font-size:18px;
    color:#898989;
    max-width:400px;
}
#third span{
    color:#B6C974;
}

#fourth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}
#fourth span{
    color:#B9D3E1
}

#fifth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}

#sixth{
    font-size:18px;
    color:#999999;
    max-width:400px;
}

#hp{
    position:relative;
    left:400px;
    top:0px;
}




#gradient_background {
	margin: 0;
	/* padding: 30px 0 0 0; */
	width: 100%;
	text-align: center;
	background: #202020 url(gradient_background.jpg) center bottom repeat-x;
	/* min-height:380px; */
}


#container {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	position: relative;
}

#block-block-2 a {
	margin: 7px 0 0 40px;
	width: 300px;
	height: 22px;
	float: left;
}

#extras {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	margin-top:50px;
}
#footer {
	margin: 50px auto 0px auto;
	padding: 0;
	width: 1000px;
	color: #555;
	text-align: center;
}


#footer a {
	color: #555;
}
#footer a:hover {
	color: #690;
}


.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}


#operators{
    display:block;
    float:right;
    width:90px;
    padding-top:10px;
}
#city{
    background-image:url('/static/cityicon.png');
}
#beeline{
    background-image:url('/static/beelineicon.png');
}
#mts{
    background-image:url('/static/mtsicon.png');
}
#megafon{
    background-image:url('/static/megafonicon.png')
}
#emailc {
    background-image:url('/static/email.png')
}
#skype{
    background-image:url('/static/skype.png')
}
#operators span {
    padding-left:16px;
    background-repeat:no-repeat;
    margin-left:5px;
    cursor:pointer;
}

#phone {
    background-image:url("/static/phone.png");
    font-size:28px;
    background-repeat:no-repeat;
    display:block;
    float:right;
    padding-top:10px;
    padding-bottom:7px;
    width:300px;
    padding-right:15px;
    text-align:center;
}


ul#main_menu {
    display:block;
    margin:0;
    padding:0;
    margin-top:20px;
}
ul#main_menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
ul#main_menu li a {
	margin: 0 0 0 22px;
	padding: 0;
	height: 18px;
	display: block;
}


#computers{
    margin: 0 auto 0;
    padding: 0;
    text-alig:n left;
    width: 1000px;
    height:170px;
}

#belt{
    float:left;
    max-width:880px;
    overflow:hidden;
    height:150px;
}
#other{
   margin: 0 auto 0;
   padding: 0;
   text-align: left;
   width: 1000px;
   padding-top:30px;
   font-size:16px;
   line-height:18px;
   color:#999;
}

#components{
    margin: 0 auto 0;
    width: 1000px;
    background-color: #333333;
    border: 1px solid #777777;
    padding: 10px;
}

.indexitem
{
    width:205px;
    max-height:150px;
    padding-top:120px;
    background-repeat:no-repeat;
    float:left;
    cursor:pointer;
    margin-left:15px;
}
.indexitem h3 {
    margin-top:30px;
}

.index-price {
    margin-left:10px;
}


.item{
    width:250px;
    float:left;
    background-repeat:no-repeat;
}
.label {
    font-size:10px;
    padding-left:3px;
}

.price{
    color:white;
    background-color:#7B9C0A;
    float:left;
    font-weight:bold;
}
.name{
    background-color:#b0b0b0;
    font-weight:bold;
    width:150px;
    float:left;
    color:black;
}


.button {
    height:120px;
    width:60px;
    float:left;
    background-repeat:no-repeat;
    background-position:0px 40px;
    cursor:pointer;
}


h3 {
    font-size:16px;
}


/* computer top */
.model_summary {
    font-size:18px;
    background-color: #222222;/* #555555; */
    border: 1px solid #444444;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 5px;
    max-width:600px;
    z-index: 200;

}

#baseprice {
    color:white;
}
#basepi{
    color:white;
}

#large{
    float:left;
    padding:10px;
    font-size:34px;
    color:#999;
}


.description_container {
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;

    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border:1px solid #777;
    padding:10px;
    background-color:#444;
}

.description {
    color:#ddd;
    margin-top:10px;
    margin-bottom:10px;
}

.black_text_button{
    background-color: #222222;
    border: 1px solid #444444;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 5px;
}

.black_image_button
{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background: url("/static/black_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 52px;
    line-height:48px;
    text-align: center;
    min-width: 146px;
    color:#585858;
}

.green_image_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent !important;
    background-image: url("/static/green_button.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 52px;
    width: 158px;
    font-size: 18px;
    color:black;
    line-height:48px;
    text-align: center;
    cursor:pointer;
}


.white_image_button
{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background: url("/static/white_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 52px;
    line-height:48px;
    text-align: center;
    min-width: 146px;
    color:#888;
}




.up_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-image: url("/static/up.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    min-height:30px;
    padding-left:48px;
    cursor:pointer;
    padding-top:16px;
}
.down_button{
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-image: url("/static/down.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    min-height:48px;
    padding-left:48px;
    cursor:pointer;
    padding-top:16px;
}


.better {
    background-image:url('/static/up_small.png');
    background-repeat:no-repeat;
    background-position: -1px 5px;
    padding-left:24px;
    cursor:pointer;
    color:#999999;
}
.cheaper {
    background-image:url('/static/down_small.png');
    background-repeat:no-repeat;
    background-position: -1px 5px;
    padding-left:24px;
    cursor:pointer;
    color:#999999;
}


#modelname{
    background-color:#730606;
    color:white;
    margin-top:5px;
    max-width:200px;
    padding:5px;
    text-align:center;
    vertical-align:center;

}
.component_select{
    display:none;
}
select{
    width:600px;color:black;
}


td.body{
    cursor:pointer;
    width:670px;
}

td:hover{
    color:#aadd00;
}


td.component_price{
    min-width:60px;
    text-align:right;
    padding-right:20px;
}

td {
    padding-right:3px;
}

label {
    cursor:pointer;
}
label:hover{
    color: #7b9c0a;
}


.component_tab {
    width:140px;
    background-color: #AAAAAA;
    color: black;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;

    padding: 5px 5px;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    font-size:14px;
    margin-right:2px;
}

.component_tab.active{
    float:left;
    color:black;
    font-size: 12px;
    height:24px;
    margin-top:20px;
    box-shadow: 1px 1px 0pt, -1px -1px 0 #FFFFFF;
    -moz-box-shadow:1px 1px 0pt, -1px -1px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 0pt, 0 -1px 0 #FFFFFF;
    -webkit-box-shadow:1px 1px 0pt, 0px -1px 0 #FFFFFF;
}
.component_tab.inactive{
    float:left;
    color:white;
    font-size: 10px;
    border: 1px solid #999999;
    height:18px;
    margin-top:28px;
    background-color:#333;
}

.section{
text-align:left;
background-image:url('/static/under_model.png');
background-repeat: no-repeat;
background-position: 0px 20px;
padding-bottom:10px;
padding-bottom:5px;
height:40px;

color:#7b9c0a;
}

.reset{
    padding-right:0px;
    text-align:right;
    background-image:url('/static/reset_small.png');
    background-repeat:no-repeat;
    background-position: -1px 5px;
    padding-left:24px;
}

#options{
    width:460px;
    font-size:12px;
}

#features{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    margin-top:20px;
}
#features li  {
    float:left;
    color:#bbb;
    width:160px;
    max-width:180px;
    display:block;
    margin:10px;
    padding:9px;
    font-size:16px;
    background-color:#444;
    height:120px;
    border:1px solid #777;
    text-align:right;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;

}
#features li strong {
    display:block;
    color:#b6c974;/* #b4bd8c; */
}
#features li em {
    color:white;
    display:block;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 3px;
    text-align: right;
}

#descriptions{
    height:300px;
    margin-bottom:20px;
    background-color: #333333;
}



.component_viewlet{
    height:30px;
}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9999;
    background-color:#555;
    display:none;
}

#details {
    color:black;
    margin: auto;
    max-width: 45em;
    min-width: 370px;
    width: 95%;
    background-color:#ffffff;
    position:absolute;
    left:0;
    top:80;
    display:none;
    z-index:9999;
    background-color: #F5F5FF;
    background-image: -moz-linear-gradient(#FBFBFB, #830000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#830000));
    background-image: -webkit-linear-gradient(top, #FBFBFB, #830000);
    background-image: -o-linear-gradient(top, #FBFBFB, #830000);
    background-image: linear-gradient(top, #FBFBFB, #830000);

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;

    box-shadow: 0 5px 10px #AAAAAA;
    -moz-box-shadow:0 5px 10px #AAAAAA;
    -webkit-box-shadow: 0 5px 10px #AAAAAA;
    padding: 14px 10px;
}

.changeSocket {
    margin-left:80px;
    margin-right:80px;
    padding: 5px;
    color:white;
    cursor:pointer;

    padding-left:20px;
    padding-right:20px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;


    background-color: #000000;
    background-image: -moz-linear-gradient(#F1F1FF, #000000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F1F1FF), to(#000000));
    background-image: -webkit-linear-gradient(top, #F1F1FF, #000000);
    background-image: -o-linear-gradient(top, #F1F1FF, #000000);
    background-image: linear-gradient(top, #F1F1FF, #000000);
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
}

#incram,#decram  {
    color: #AADD00;
    cursor: pointer;
    margin-left: 14px;
    border: 1px solid #444;
    padding:2px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background-color:#222;
    float:right;
    font-size:10px;

}

#ramcount {
    color:white !important;
    font-weight:bold;
    border: 1px solid #444;
    padding:2px;
    margin-left: 14px;
    float:right;
    cursor:auto !important;
    font-size:10px;
}

#middle {
    margin-top:-20px;
}

.manu{
    float:left;
    width:900px;
    min-height:320px;
}
.our{
    padding:10px;
    float:left;
    width:900px;
}



#added{
    display:none;
}
#description a {
    margin-left:5px;
    margin-right:5px;
}
.midlle_computer{
 margin: 0px auto;padding: 0;width:1000px;
 margin-top:-40px !important;
}
#model_description{
    max-height:200px;
    font-size:13px;
    padding:3px;
}
#model_description ul{
    padding:0;
    margin:0;
    padding-left:20px;
}

#model_description strong {
    background-color: #730606;
    color:white;
    padding:10px;
}

#model_description input{
    background-color:#999;
    color:black;
    padding:2px;
    width:150px;
}
.emailbutton{
    background-color: #AAAAAA;

    color:white;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -webkit-background-clip: padding-box;

    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(255, 255, 255, 0.2);

    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.15);
    text-decoration:none;
}

.row{
    height:150px;
    width:1000px;
    margin: 0 auto 0;
    padding: 0;
    margin-top:30px;
}

.computeritem{
    max-width:122px;
    overflow:visible;
    background-repeat:no-repeat;
    float:left;
    /* cursor:pointer; */
}
.computeritem h2 {
    margin:0;
    padding:0;
    margin-top:180px;
}
.computeritem h3 {
    margin-top:30px;
}

.computers_description{
    float:left;
    margin-right:10px;
    width:200px;
    height:250px;
}
.cart_description{
    float:left;
    margin-right:10px;
    width:750px;
    height:180px;
    margin-bottom:50px;
}
.computers_description h3{
    color:#AAAAAA;
    margin:0;
}
.computers_description ul{
    margin-left: -20px;
    color:#B9D3E1;
    line-height:12px;
    font-size:12px;
    margin-top: 0;
}
.computers_description h3{
    color:#AAAAAA;
    margin:0;
}
.cart_description ul{
    margin-left: -20px;
    color:#B9D3E1;
    line-height:12px;
    font-size:12px;
}
.cart_description h3{
    color:#AAAAAA;
    margin:0;
}
.computeritem .section{
    width: 205px;
    text-align:center;
}

#top .computeritem{
    background-image:url('/static/localhost.png');
}

#middle .computeritem{
    background-image:url('/static/icon.png');
}

#next_button{
    background-image:url('/static/next.png');
}
#previous_button{
    background-image:url('/static/empty.png');
    cursor:inherit;
}
#models_container{    
    width:100%;
}
#models{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
#cart_top{
    height:150px;
    margin-top:20px;
    margin-bottom:40px;
}
#cartlink{
    width:265px;
}
#cart_top input{
    background-color: #999999;
    color: black;
}
#models_top{
    height:180px;
}

#pricetext{
    clear:both;
    padding-left:75px;
    font-size:12px;
    padding-top:5px;
}

#pricetext input{
    display:none;
}
#pricetext label{
    background-image:url('/static/checkbox.png');
    padding-left:19px;
    background-repeat:no-repeat;
    margin-left:10px;
}
#cartcall{
    float:left;
    margin-left:30px;
    width:500px;
}

strong.red{
    padding:3px;
    color:white;
    background-color:#730606;
}
#warranty{
    color:#b00606;
    font-size:22px;
}

.info{
    font-weight:bold;
    position: relative;
    top: -220px;
    cursor:pointer;
    width:30px;
    height:30px;    
    background-image:url('/static/info.png');
}
.guider_description li {
    font-size: 11px;
    line-height: 11px;
}
.guiderdiv{
   color:#730606;
   font-weight:bold;
   cursor:pointer;
   float:left;
   margin-right:10px;
}

.guidermove a{
    margin-left:5px;
    cursor:pointer;
}
.guiderzoom{

}

.edit_links{
    margin-left:10px;
    font-size:12px;
    color:white;    
    padding:5px;
    cursor:pointer !important;
}
.edit_links:hover{
    color:#999 !important;
}
.guider_content ul {
    padding-left: 10px;
    padding-top: 5px;
}

.computers_top {
    background-color: #444444;
    border: 1px solid #777777;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    color: #BBBBBB;
    font-size: 16px;
    padding: 9px;
}
.closeg{
    background-image:url("/static/guiderclose.png");
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
}
#closem{
    background-image:url("/static/maskclose.png");
    width:30px;
    height:30px;
    float:right;
    cursor:pointer;
    margin-bottom: 10px;
    margin-top: -10px;
}


.popup
{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
                                       color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                       color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                       color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                       to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                              transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                              transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                           transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                          transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                         transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                      transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                      transparent 75%, transparent);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    left:0;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
}

.popups_info
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
    display:none;
    /* background-color: #de4343; */
    /* border-color: #c43d3d; */

    /* background-color: #eaaf51; */
    /* border-color: #d99a36; */

    /* background-color: #61b832; */
    /* border-color: #55a12c;     */
}

.popup h3
{
    margin: 0 0 5px 0;
}

.popup p
{
    margin: 0;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
	background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
	background-position: -80px 0;
    }
}

.guider_description ul li{
    cursor:pointer;
}
.guider_description ul li:hover{
    color:#730606;
}
#how{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 18px;
}
.midlle_how{
    margin-top:20px !important;
}
#howguider{
    width:200px;
    margin-top:50px;
    margin-bottom:30px;
}
.sentence{
    margin-top:10px;
    margin-bottom:10px;
}
.sentence_float{
    margin-top:30px;
    margin-bottom:30px;
    float:left;
}
#hselect_chzn{
    margin-left:245px;
    width:615px !important;
    display:block;
    margin-top:20px;
    margin-bottom:20px;
}
h2.inline{
    float:left;
    margin-top:30px;
    margin-left:20px;
}
#how h1{
    font-size:27px;
    margin-top:30px;
    line-height: 30px;
}
#how h1 span{
 color: #B6C974;
}
#hindex{
    display:inline;
    font-size:20px;
    color: #B9D3E1;
}
.sentence strong {
    color: #B9D3E1;
}

.callmecontainer{
    height:400px;
}
.callmecontainer h1{
    margin-top:150px !important;
    color:white;
    font-size:40px !important;
    margin-left:10px;
}
.callmecontainer div div{
    margin-left:-20px;
    max-width:280px;
    text-align:center;
}
.callmecontainer img.callme{
    margin-top:50px;
    margin-bottmo:30px;
    display:block;
    margin-right:150px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-bottom-left-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;

}


#how h2 img{
    margin-right:5px;
}

.computers_top div{
    //font-size:18px;
}

.htip{
    float:left;
    line-height:30px;
    font-size:20px;
    margin-top:10px;
}
h1.bold{
    float:left;
    width:500px;
    margin-top:200px !important;
}
img.bold{
    display:block;
    float:right;
    width:490px;
    margin-top:50px;
    margin-bottom:30px;
    border: 1px solid #777777;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-bottom-left-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;

}
h1.bold.left{
    float:right;
    margin-left:20px;
    width:480px;
}
.hlink{
    margin-right:10px;
    max-width:410px;
}
.hlink span{
    padding:8px;
    padding-left:0;
    background-color:#730606;
    color:white;
}